* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 8%;
    background-color: #e0d3c3;
}

h3 {
    margin: auto;
    width: 425px;
    font-size: 2rem;
}

.grid {
    margin: auto;
    width: 425px;
    height: 317px;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;
}